<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559749681022-ta18trk2p2s62kh2keke6jjbn7qegqkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559749681022-ta18trk2p2s62kh2keke6jjbn7qegqkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgbOotb-yoS-0QZPU8nf7-Ra9yw7nAkw</string>
	<key>GCM_SENDER_ID</key>
	<string>559749681022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Halilbkar.SpenderApp</string>
	<key>PROJECT_ID</key>
	<string>spenderbankapp</string>
	<key>STORAGE_BUCKET</key>
	<string>spenderbankapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559749681022:ios:9442da43321b7b53a8ed2f</string>
</dict>
</plist>